body {
	background:#000;
}

header { 
	height: 100px;
	}

header h1 {
	color: #000;
	font-size: 18px;
	padding-top:30px;
	text-align:center;
}

section {
	background:#fff;
	min-height:600px;
}

.round-1 {
	min-height:600px;
	width:300px;
}

.round-1 h1 {
	color:#000;
	font-size:30px;
	padding:10px;
	margin-bottom: 50px;
	text-align:center;
	text-decoration:underline;
}

.round-1-bracket-outline {
	border-top:1px solid #000;
	border-right:1px solid #000;
	border-bottom: 1px solid #000;
	display:block;
	float:right;
	height:80px;
	position:relative;
	width:250px;
}

.round-1-player-top {
	position: absolute;
	top:-33px;
	width: 250px;
}

.round-1-player-top .player-name {
	padding-top: 10px;
	padding-bottom: 4px;
}

.round-1-player-top .player-name p {
	color: #000;
	cursor: pointer;
	display:inline-block;
	font-size: 18px;
	margin-left: 10px;
	text-align:left;
}

.round-1-player-top .player-name p:hover {
	color:#45bcd2;
}

.round-1-player-top .player-input input {
	background:none;
	border:none;
	color:#45bcd2;
	font-size:18px;
	height:20px;
	margin-top:8px;
	width:230px;
}

.round-1-player-top .player-input .save-button {
	color: #fff;
	cursor:pointer;
	float: left;
	margin-top: 6px;
	background: #45bcd2;
	padding: 4px;
	font-size: 20px;
}

.round-1-player-top .player-input .save-button:hover {
	background: #45bcd2;
}


.round-1-player-bottom {
	bottom:0px;
	cursor:pointer;
	padding-bottom:4px;
	padding-top:10px;
	position: absolute;
	width:250px;
}

.round-1-player-bottom:hover {
	background:#555;	
}

.round-1-player-bottom p {
	color: #000;
	font-size: 18px;
	margin-left: 10px;
	text-align: left;
}




.bracket {
}

.bracket-wrapper {
	border: 1px solid #000;
	border-bottom: 2px solid #000;
	display: block;
	left: 50%;
	padding: 4px;
	position: absolute;
	top: 400px;
}

.bracket-wrapper .entry-name p{
	font-weight: bold;
	text-align: center;
}

.add-bracket {
	background: #666;
	cursor: pointer;
	top: -18px;
	right: 0;
	position: absolute;
}

footer {
}

.hidden {
	display:none;
}

.hover {
	cursor:pointer;
}