body {
	background:#000;
}

header { 
	height: 100px;
	}

header h1 {
	color: #fff;
	font-size: 18px;
	padding-top:30px;
	text-align:center;
}

.sidebar {
	float:left;
}

.sidebar .round-1-options ul {
	float:left;
	padding:10px;
	width: 200px;
}

.sidebar .round-1-options li p {
	text-align:center;
}

.page-wrap {
	background:#fff;
	min-height:600px;
}

/* begin round 1 styling */
.round-1 {
	border-left:1px solid #ccc;
	float:left;
	min-height:600px;
}

.round-1 h1 {
	padding:10px;
	margin-bottom: 50px;
	text-align:center;
}

.round-1 .bracket {
	display: inline-block;
	margin-bottom: 80px;
	margin-left: 48px;
}

.round-1 .bracket-outline {
	border-top:1px solid #000;
	border-right:1px solid #000;
	border-bottom: 1px solid #000;
	display:block;
	float:right;
	height:80px;
	position:relative;
	width:250px;
}

.round-1 .player-top {
	position: absolute;
	top:-33px;
	width: 250px;
}

.round-1 .player-bottom {
	bottom:0px;
	position: absolute;
	width:250px;
}

.round-1 .player-top .player-name p {
	cursor: pointer;
	display:inline-block;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 10px;
}

.round-1 .player-bottom .player-name p {
	cursor: pointer;
	display:inline-block;
	font-size: 18px;
	margin-bottom: 4px;
	margin-left: 10px;
}

.round-1 .player-name p:hover {
	color:#45bcd2;
}

.round-1 .player-top .player-input input {
	color:#45bcd2;
	height:20px;
	margin-top:8px;
	margin-left: 10px;
	width:230px;
}

.round-1 .player-bottom .player-input input {
	color:#45bcd2;
	height:20px;
	margin-bottom:2px;
	margin-left: 10px;
	width:230px;	
}

.round-1 .player-top .save-button {
	background: #45bcd2;
	color: #fff;
	cursor:pointer;
	font-size: 20px;
	left: 0px;
	padding: 4px;
	position: absolute;
	top: 34px;
}

.round-1 .player-bottom .save-button {
	background: #45bcd2;
	color: #fff;
	cursor:pointer;
	font-size: 16px;
	left: 0px;
	padding: 4px;
	position: absolute;
	top: 26px;
}

.round-1 .player-input .save-button:hover {
	background: #ccc;
}

/* end round 1 styling */

/* begin round 2 styling */

.round-2 {
	float:left;
	min-height:600px;
}

.round-2 h1 {
	padding:10px;
	margin-bottom: 50px;
	text-align:center;
}

.round-2 .bracket {
	display: inline-block;
	margin-bottom: 80px;
}

.round-2 .bracket-outline {
	border-top:1px solid #000;
	border-right:1px solid #000;
	border-bottom: 1px solid #000;
	display:block;
	float:left;
	height:165px;
	margin-top: 40px;
	position:relative;
	width:250px;
}

/* end round 2 styling */


footer {
}

footer p {
	color:#fff;
	margin-top:10px;
	text-align:center;
}


.clear {
	clear:both;
}

.hidden {
	display:none;
}

.hover {
	cursor:pointer;
}